**Goal: ** Identify schools that have helped students grow.

- Create a measure for growth: has a school taken low-performing 9th graders and helped them achieve?

quantile methods:
- [HPGG08PROF] look at incoming 8th grade scores for  ELA and Math for 8th grade exam, and put schools into quantiles in year x
- do the same for 4 year diploma rate four years later [HPGPERDIP4AVG]
- see which schools do better (move into a higher quantile)

Growth score (based on DOE methods)
- for all schools with similar entering proficiency, compare their graduation rates.  The score is the percent of schools that it does better than.

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import pylab as pl
from scipy import stats
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Users/baileygriswold/anaconda3/lib/python3.6/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [2]:
df = pd.read_csv('Schmelt_bg.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

,BNLONG,variable,1996,1997,1998,1999,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,K001,ATTPCTG01,88.76,92.53,90.76,91.04,91.62,91.57,91.88,92.76,...,93.98,93.56,94.45,93.49,93.0,94.86,94.81,93.87,95.12,95.62
1,K001,ATTPCTG02,91.33,91.37,92.66,92.0,92.26,93.87,92.71,93.02,...,93.16,94.99,94.87,95.46,93.83,94.68,94.86,95.12,95.38,95.55
2,K001,ATTPCTG03,92.43,93.11,92.36,93.55,92.9,92.77,94.14,93.56,...,94.57,94.37,95.75,95.55,95.14,95.57,95.35,95.26,95.74,96.32
3,K001,ATTPCTG04,92.36,93.75,92.44,91.88,93.99,93.17,92.38,94.3,...,94.0,94.81,93.66,95.5,95.65,96.35,95.85,95.16,95.67,96.5
4,K001,ATTPCTG05,93.04,92.92,92.61,93.2,92.07,94.12,93.25,93.45,...,94.02,94.43,95.38,94.12,95.74,95.81,96.4,94.99,95.64,95.79

## Quantile Method - high schools
- only have average 8th grade proficiency for incoming 9th graders from years 2008 to 2012
- will take only years 2012 to 2016 for 4 yr grad rate
- will subtract the difference in quantiles to get a score

*** quantiles (dec) for avg 8th grade providiency ***

In [3]:
#drop columns that don't have any values
df_8prof = df[df.variable == 'HPGG08PROF'].dropna(axis=1, how='all')

In [4]:
#drop school that don't have any entries for any year
df_8prof = df_8prof[df_8prof.variable == 'HPGG08PROF'].dropna(axis=0, how='all', subset=['2008', '2009', '2010',
       '2011', '2012'])

In [5]:
for yr in ['2008', '2009', '2010','2011', '2012']:
    df_8prof[yr] = pd.to_numeric(df_8prof[yr])
    df_8prof[('prof8dec_'+yr)] = pd.qcut(df_8prof[yr], 10, labels=False)

In [6]:
df_8prof.head()

,BNLONG,variable,2008,2009,2010,2011,2012,prof8dec_2008,prof8dec_2009,prof8dec_2010,prof8dec_2011,prof8dec_2012
2706,K027,HPGG08PROF,2.457,2.471,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
6325,K071,HPGG08PROF,2.522,2.504,2.64902,2.48508,2.50,3.0,1.0,2.0,3.0,2.0
10659,K122,HPGG08PROF,NaN,NaN,NaN,NaN,2.93,NaN,NaN,NaN,NaN,7.0
15038,K168,HPGG08PROF,NaN,NaN,NaN,NaN,2.76,NaN,NaN,NaN,NaN,6.0
24453,K265,HPGG08PROF,2.735,2.791,2.89316,2.70479,2.71,6.0,6.0,6.0,6.0,5.0

*** quantiles (dec) for 4 year graduation rates ***
- will need to get these from data we already have

In [7]:
df_grdrt = df[df.variable == 'HPGPERDIP4AVG'].dropna(axis=1, how='all')

In [8]:
df_grdrt.head()

,BNLONG,variable,2007,2008,2009,2010,2011,2012,2013
6330,K071,HPGPERDIP4AVG,0.0,0.667,0.589,0.45399999999999996,0.456,0.46399999999999997,0.48100000000000004
24458,K265,HPGPERDIP4AVG,0.7240000000000001,0.7709999999999999,0.541,0.84,0.795,0.795,0.63
29709,K322,HPGPERDIP4AVG,NaN,NaN,0.737,0.7,NaN,0.255,0.2
31000,K336,HPGPERDIP4AVG,NaN,NaN,NaN,NaN,NaN,0.36,NaN
31100,K337,HPGPERDIP4AVG,NaN,NaN,0.7090000000000001,0.461,0.49200000000000005,0.48,0.5

Only have the 4 year graduation rate until 2013, so can't see growth in any of the kids that we have the 8th grade value for

In [9]:
#df_grd = pd.read_excel('./data/2017Graduation_Rates_Public_Citywide.xlsx', sheet_name="All")

In [10]:
df_grd = pd.read_csv('./data/2017_grad_rates_reshaped.csv')

Possible features:  
(could take august or 5, 6 year grad rates, too)

- 'Total Grads_% of cohort_2008_4 year June'

In [11]:
cols = ['DBN', 'School Name','BN']
for yr in ['2007', '2008', '2009','2010', '2011']:
    cols.extend(['Total Grads_% of cohort_{}_4 year June'.format(yr)])
print (cols)

['DBN', 'School Name', 'BN', 'Total Grads_% of cohort_2007_4 year June', 'Total Grads_% of cohort_2008_4 year June', 'Total Grads_% of cohort_2009_4 year June', 'Total Grads_% of cohort_2010_4 year June', 'Total Grads_% of cohort_2011_4 year June']

In [12]:
df_grd = df_grd[cols]

In [13]:
for yr in ['2008', '2009', '2010','2011', '2012']:
    df_grd['Total Grads_% of cohort_{}_4 year June'.format(str(int(yr)-1))] = \
        pd.to_numeric(df_grd['Total Grads_% of cohort_{}_4 year June'.format(str(int(yr)-1))], errors='coerce')
    df_grd[('grddec_'+yr)] = pd.qcut(df_grd['Total Grads_% of cohort_{}_4 year June'.format(str(int(yr)-1))], 10, labels=False)

In [14]:
df_grd.head()

,DBN,School Name,BN,Total Grads_% of cohort_2007_4 year June,Total Grads_% of cohort_2008_4 year June,Total Grads_% of cohort_2009_4 year June,Total Grads_% of cohort_2010_4 year June,Total Grads_% of cohort_2011_4 year June,grddec_2008,grddec_2009,grddec_2010,grddec_2011,grddec_2012
0,01M292,ORCHARD COLLEGIATE ACADEMY,M292,53.246750,50.000000,55.294110,39.344260,63.01369,3.0,2.0,3.0,1.0,4.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,M448,66.000000,66.666660,73.863630,78.873230,82.92682,5.0,5.0,6.0,7.0,7.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,M450,62.921340,69.318180,71.794870,77.777770,85.22727,5.0,6.0,6.0,7.0,7.0
3,01M458,FORSYTH SATELLITE ACADEMY,M458,5.660377,5.882352,6.956521,8.421052,14.94252,0.0,0.0,0.0,0.0,0.0
4,01M509,MARTA VALLE HIGH SCHOOL,M509,49.473680,53.658530,34.722220,44.067790,44.11764,2.0,3.0,1.0,1.0,1.0

*** merge grad df and 8g prof df, and take the difference between 8th grade and grad rates as the growth score ***

In [15]:
print ('Rows in df_grd: ', len(df_grd))
print ('Unique schools in df_grd: ', len(df_grd.BN.unique()))
print ('Rows in df_8prof: ', len(df_8prof))
print ('Unique schools in df_8prof: ', len(df_8prof.BNLONG.unique()))
df_ = pd.merge(df_8prof, df_grd, left_on='BNLONG', right_on='BN', how='inner')
print ('Rows in new merged df: ', len(df_))
print ('Unique schools in new merged df: ', len(df_.BNLONG.unique()))

Rows in df_grd:  544
Unique schools in df_grd:  544
Rows in df_8prof:  439
Unique schools in df_8prof:  439
Rows in new merged df:  435
Unique schools in new merged df:  435

No duplicated values in either dataframe. Lose 111 from df_grd, and 4 from df_8prof.

In [16]:
df_.head()

,BNLONG,variable,2008,2009,2010,2011,2012,prof8dec_2008,prof8dec_2009,prof8dec_2010,...,Total Grads_% of cohort_2007_4 year June,Total Grads_% of cohort_2008_4 year June,Total Grads_% of cohort_2009_4 year June,Total Grads_% of cohort_2010_4 year June,Total Grads_% of cohort_2011_4 year June,grddec_2008,grddec_2009,grddec_2010,grddec_2011,grddec_2012
0,K027,HPGG08PROF,2.457,2.471,NaN,NaN,NaN,1.0,1.0,NaN,...,0.00000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,K071,HPGG08PROF,2.522,2.504,2.64902,2.48508,2.50,3.0,1.0,2.0,...,40.40404,38.73873,45.37037,54.16666,42.35294,1.0,1.0,2.0,3.0,1.0
2,K122,HPGG08PROF,NaN,NaN,NaN,NaN,2.93,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57.73195,NaN,NaN,NaN,NaN,3.0
3,K168,HPGG08PROF,NaN,NaN,NaN,NaN,2.76,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,73.52941,NaN,NaN,NaN,NaN,6.0
4,K265,HPGG08PROF,2.735,2.791,2.89316,2.70479,2.71,6.0,6.0,6.0,...,77.77777,71.79487,57.53424,58.90410,49.27536,7.0,6.0,4.0,4.0,1.0

In [17]:
for yr in ['2008', '2009', '2010','2011', '2012']:
    df_['HS_growth_score'+str(int(yr)+3)] = df_['grddec_'+yr] - df_['prof8dec_'+yr]

In [18]:
df_.head()

,BNLONG,variable,2008,2009,2010,2011,2012,prof8dec_2008,prof8dec_2009,prof8dec_2010,...,grddec_2008,grddec_2009,grddec_2010,grddec_2011,grddec_2012,HS_growth_score2011,HS_growth_score2012,HS_growth_score2013,HS_growth_score2014,HS_growth_score2015
0,K027,HPGG08PROF,2.457,2.471,NaN,NaN,NaN,1.0,1.0,NaN,...,0.0,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN
1,K071,HPGG08PROF,2.522,2.504,2.64902,2.48508,2.50,3.0,1.0,2.0,...,1.0,1.0,2.0,3.0,1.0,-2.0,0.0,0.0,0.0,-1.0
2,K122,HPGG08PROF,NaN,NaN,NaN,NaN,2.93,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,-4.0
3,K168,HPGG08PROF,NaN,NaN,NaN,NaN,2.76,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,0.0
4,K265,HPGG08PROF,2.735,2.791,2.89316,2.70479,2.71,6.0,6.0,6.0,...,7.0,6.0,4.0,4.0,1.0,1.0,0.0,-2.0,-2.0,-4.0

- prof8dec is the decile that the school falls into, based on the average 8th grade proficiency of the incoming 9th grade class (data from SCHMA) (year corresponds to the year that the 8th graders were in the 9th grade)
- grddec is the decile that the school falls into, based on the average 4 yr June graduation rate (year corresponds to the year the graduating class was in the 9th grade) ( data from 2017_grad_rates_reshaped.csv)
- HSgrowthscore is the difference between the grad decile and the 8th grade proficiency decile. the year corresponds to the cohort year, ie. the year the students were in 9th grade. This score represents movement in proficiency for the same group of students.

## Quantile Method - middle schools

In [19]:
df.head()

,BNLONG,variable,1996,1997,1998,1999,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,K001,ATTPCTG01,88.76,92.53,90.76,91.04,91.62,91.57,91.88,92.76,...,93.98,93.56,94.45,93.49,93.0,94.86,94.81,93.87,95.12,95.62
1,K001,ATTPCTG02,91.33,91.37,92.66,92.0,92.26,93.87,92.71,93.02,...,93.16,94.99,94.87,95.46,93.83,94.68,94.86,95.12,95.38,95.55
2,K001,ATTPCTG03,92.43,93.11,92.36,93.55,92.9,92.77,94.14,93.56,...,94.57,94.37,95.75,95.55,95.14,95.57,95.35,95.26,95.74,96.32
3,K001,ATTPCTG04,92.36,93.75,92.44,91.88,93.99,93.17,92.38,94.3,...,94.0,94.81,93.66,95.5,95.65,96.35,95.85,95.16,95.67,96.5
4,K001,ATTPCTG05,93.04,92.92,92.61,93.2,92.07,94.12,93.25,93.45,...,94.02,94.43,95.38,94.12,95.74,95.81,96.4,94.99,95.64,95.79

In [20]:
df[df.variable == 'LCGSCHCAT']['2015'].value_counts(dropna=False)

ELEMENTARY              637
HIGH SCHOOL             412
JUNIOR HIGH-INTERMED    296
NaN                     239
K-8                     141
SECONDARY SCHOOL         85
K-12 ALL GRADES          36
EARLY CHILDHOOD          29
Name: 2015, dtype: int64

In [21]:
df[df.variable == 'LCGSCHCAT'][df[df.variable == 'LCGSCHCAT']['2015'] == 'ELEMENTARY'].head()

,BNLONG,variable,1996,1997,1998,1999,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
60,K001,LCGSCHCAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY
252,K003,LCGSCHCAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY
429,K005,LCGSCHCAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY
527,K006,LCGSCHCAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY
626,K007,LCGSCHCAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY,ELEMENTARY

*** Deciles for ELA 8th graders ***

In [22]:
df_ela8 = df[df.variable == 'STCELAPCTL34G08'].dropna(axis=1, how='all')

In [23]:
df_ela8.columns

Index(['BNLONG', 'variable', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

In [24]:
for yr in ['1999', '2000', '2001', '2002', '2003', '2004',\
           '2005', '2006', '2007', '2008', '2009', '2010', \
           '2011', '2012', '2013','2014', '2015', '2016']:
    df_ela8[yr] = pd.to_numeric(df_ela8[yr])
    df_ela8[('ela8dec_'+yr)] = pd.qcut(df_ela8[yr], 10, labels=False)

In [25]:
df_ela8.head()

,BNLONG,variable,1999,2000,2001,2002,2003,2004,2005,2006,...,ela8dec_2007,ela8dec_2008,ela8dec_2009,ela8dec_2010,ela8dec_2011,ela8dec_2012,ela8dec_2013,ela8dec_2014,ela8dec_2015,ela8dec_2016
183,K002,STCELAPCTL34G08,26.6,22.3,20.0,19.7,24.7,16.0,18.1,16.89999,...,3.0,3.0,2.0,3.0,3.0,5.0,6.0,5.0,5.0,5.0
770,K008,STCELAPCTL34G08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.0
1194,K012,STCELAPCTL34G08,26.8,28.0,16.4,24.6,22.4,16.4,16.3,2.10000,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,K014,STCELAPCTL34G08,40.8,35.8,40.1,30.4,37.7,22.6,26.7,29.10000,...,2.0,3.0,3.0,4.0,4.0,3.0,2.0,1.0,4.0,2.0
2518,K025,STCELAPCTL34G08,7.9,15.4,10.8,11.9,19.6,34.7,23.6,14.50000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

*** Deciles for ELA grade 6 ***

In [26]:
df_ela6 = df[df.variable == 'STCELAPCTL34G06'].dropna(axis=1, how='all')

In [27]:
df_ela6.columns

Index(['BNLONG', 'variable', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

In [28]:
for yr in ['1999', '2000', '2001', '2002', '2003', '2004',\
           '2005', '2006', '2007', '2008', '2009', '2010', \
           '2011', '2012', '2013','2014', '2015', '2016']:
    df_ela6[yr] = pd.to_numeric(df_ela6[yr])
    df_ela6[('ela6dec_'+yr)] = pd.qcut(df_ela6[yr], 10, labels=False)
df_ela6.head()

,BNLONG,variable,1999,2000,2001,2002,2003,2004,2005,2006,...,ela6dec_2007,ela6dec_2008,ela6dec_2009,ela6dec_2010,ela6dec_2011,ela6dec_2012,ela6dec_2013,ela6dec_2014,ela6dec_2015,ela6dec_2016
181,K002,STCELAPCTL34G06,18.4,26.3,24.3,6.3,12.0,20.7,36.3,29.7,...,2.0,4.0,3.0,5.0,4.0,6.0,4.0,5.0,5.0,5.0
286,K003,STCELAPCTL34G06,34.3,44.0,25.0,18.4,30.1,29.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,K005,STCELAPCTL34G06,15.4,NaN,NaN,14.7,24.3,37.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
768,K008,STCELAPCTL34G06,29.7,58.3,30.3,10.4,22.7,14.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.0,8.0,8.0
876,K009,STCELAPCTL34G06,17.7,36.9,18.3,17.6,25.0,25.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

*** Calc dif between 8th ela decile and 6th ela decile ***

In [29]:
#merge 8th and 6th grade deciles
print ('Rows in df_ela8: ', len(df_ela8))
print ('Unique schools in df_ela8: ', len(df_ela8.BNLONG.unique()))
print ('Rows in df_ela6: ', len(df_ela6))
print ('Unique schools in df_ela6: ', len(df_ela6.BNLONG.unique()))
df_2 = pd.merge(df_ela8, df_ela6, on='BNLONG',how='inner',  suffixes=('_ela8', '_ela6'))
print ('Rows in new merged df: ', len(df_2))
print ('Unique schools in new merged df: ', len(df_2.BNLONG.unique()))

Rows in df_ela8:  623
Unique schools in df_ela8:  623
Rows in df_ela6:  823
Unique schools in df_ela6:  823
Rows in new merged df:  616
Unique schools in new merged df:  616

In [30]:
for yr in ['2001', '2002', '2003', '2004',\
           '2005', '2006', '2007', '2008', '2009', '2010', \
           '2011', '2012', '2013','2014', '2015', '2016']:
    df_2['MS_growth_score'+yr] = df_2['ela8dec_'+yr] - df_2['ela6dec_'+str(int(yr)-2)]

In [31]:
df_2.head()

,BNLONG,variable_ela8,1999_ela8,2000_ela8,2001_ela8,2002_ela8,2003_ela8,2004_ela8,2005_ela8,2006_ela8,...,MS_growth_score2007,MS_growth_score2008,MS_growth_score2009,MS_growth_score2010,MS_growth_score2011,MS_growth_score2012,MS_growth_score2013,MS_growth_score2014,MS_growth_score2015,MS_growth_score2016
0,K002,STCELAPCTL34G08,26.6,22.3,20.0,19.7,24.7,16.0,18.1,16.89999,...,-1.0,1.0,0.0,-1.0,0.0,0.0,2.0,-1.0,1.0,0.0
1,K008,STCELAPCTL34G08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,K012,STCELAPCTL34G08,26.8,28.0,16.4,24.6,22.4,16.4,16.3,2.10000,...,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,K014,STCELAPCTL34G08,40.8,35.8,40.1,30.4,37.7,22.6,26.7,29.10000,...,-2.0,-2.0,-1.0,0.0,1.0,1.0,0.0,-2.0,0.0,-1.0
4,K025,STCELAPCTL34G08,7.9,15.4,10.8,11.9,19.6,34.7,23.6,14.50000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Quantile Method - elementary schools

In [32]:
#5th grade ELA test scores
df_ela5 = df[df.variable == 'STCELAPCTL34G05'].dropna(axis=1, how='all')
for yr in ['1999', '2000', '2001', '2002', '2003', '2004',\
           '2005', '2006', '2007', '2008', '2009', '2010', \
           '2011', '2012', '2013','2014', '2015', '2016']:
    df_ela5[yr] = pd.to_numeric(df_ela5[yr])
    df_ela5[('ela5dec_'+yr)] = pd.qcut(df_ela5[yr], 10, labels=False)
df_ela5.head()

,BNLONG,variable,1999,2000,2001,2002,2003,2004,2005,2006,...,ela5dec_2007,ela5dec_2008,ela5dec_2009,ela5dec_2010,ela5dec_2011,ela5dec_2012,ela5dec_2013,ela5dec_2014,ela5dec_2015,ela5dec_2016
93,K001,STCELAPCTL34G05,46.0,28.1,38.5,42.7,51.3,38.7,66.4,47.5,...,2.0,2.0,3.0,2.0,5.0,2.0,5.0,3.0,2.0,4.0
285,K003,STCELAPCTL34G05,43.3,41.0,46.6,40.6,45.3,46.9,71.7,53.4,...,4.0,4.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
359,K004,STCELAPCTL34G05,NaN,0.0,16.7,13.3,4.3,16.7,41.2,NaN,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN
462,K005,STCELAPCTL34G05,18.8,NaN,NaN,44.2,43.9,36.0,55.8,53.4,...,2.0,5.0,4.0,5.0,3.0,5.0,1.0,0.0,0.0,8.0
560,K006,STCELAPCTL34G05,58.3,28.5,43.7,41.4,46.2,57.6,63.9,48.4,...,5.0,7.0,4.0,5.0,5.0,5.0,5.0,5.0,3.0,3.0

In [33]:
#3rd ELA test scores
df_ela3 = df[df.variable == 'STCELAPCTL34G03'].dropna(axis=1, how='all')
for yr in ['1999', '2000', '2001', '2002', '2003', '2004',\
           '2005', '2006', '2007', '2008', '2009', '2010', \
           '2011', '2012', '2013','2014', '2015', '2016']:
    df_ela3[yr] = pd.to_numeric(df_ela3[yr])
    df_ela3[('ela3dec_'+yr)] = pd.qcut(df_ela3[yr], 10, labels=False)
df_ela3.head()

,BNLONG,variable,1999,2000,2001,2002,2003,2004,2005,2006,...,ela3dec_2007,ela3dec_2008,ela3dec_2009,ela3dec_2010,ela3dec_2011,ela3dec_2012,ela3dec_2013,ela3dec_2014,ela3dec_2015,ela3dec_2016
91,K001,STCELAPCTL34G03,19.0,40.9,44.9,45.2,34.7,45.9,54.6,61.9,...,4.0,3.0,4.0,3.0,5.0,2.0,3.0,3.0,3.0,3.0
283,K003,STCELAPCTL34G03,31.3,39.4,42.1,38.4,35.7,37.2,55.0,50.0,...,4.0,5.0,6.0,5.0,5.0,3.0,5.0,4.0,6.0,4.0
357,K004,STCELAPCTL34G03,NaN,0.0,0.0,0.0,0.0,6.7,18.2,18.2,...,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
460,K005,STCELAPCTL34G03,31.0,NaN,NaN,25.5,22.3,38.6,58.1,45.9,...,5.0,6.0,5.0,1.0,2.0,4.0,0.0,0.0,3.0,7.0
558,K006,STCELAPCTL34G03,57.3,44.6,40.6,38.7,37.8,39.1,57.3,56.7,...,4.0,4.0,1.0,2.0,4.0,5.0,2.0,0.0,3.0,1.0

In [34]:
#merge 5th and 3th grade deciles
print ('Rows in df_ela5: ', len(df_ela5))
print ('Unique schools in df_ela5: ', len(df_ela5.BNLONG.unique()))
print ('Rows in df_ela3: ', len(df_ela3))
print ('Unique schools in df_ela3: ', len(df_ela3.BNLONG.unique()))
df_3 = pd.merge(df_ela5, df_ela3, on='BNLONG',how='inner',  suffixes=('_ela5', '_ela3'))
print ('Rows in new merged df: ', len(df_3))
print ('Unique schools in new merged df: ', len(df_3.BNLONG.unique()))

Rows in df_ela5:  855
Unique schools in df_ela5:  855
Rows in df_ela3:  833
Unique schools in df_ela3:  833
Rows in new merged df:  809
Unique schools in new merged df:  809

In [35]:
for yr in ['2001', '2002', '2003', '2004',\
           '2005', '2006', '2007', '2008', '2009', '2010', \
           '2011', '2012', '2013','2014', '2015', '2016']:
    df_3['E_growth_score'+yr] = df_3['ela5dec_'+yr] - df_3['ela3dec_'+str(int(yr)-2)]

## Reshape?

In [36]:
df_.columns

Index(['BNLONG', 'variable', '2008', '2009', '2010', '2011', '2012',
       'prof8dec_2008', 'prof8dec_2009', 'prof8dec_2010', 'prof8dec_2011',
       'prof8dec_2012', 'DBN', 'School Name', 'BN',
       'Total Grads_% of cohort_2007_4 year June',
       'Total Grads_% of cohort_2008_4 year June',
       'Total Grads_% of cohort_2009_4 year June',
       'Total Grads_% of cohort_2010_4 year June',
       'Total Grads_% of cohort_2011_4 year June', 'grddec_2008',
       'grddec_2009', 'grddec_2010', 'grddec_2011', 'grddec_2012',
       'HS_growth_score2011', 'HS_growth_score2012', 'HS_growth_score2013',
       'HS_growth_score2014', 'HS_growth_score2015'],
      dtype='object')

In [37]:
df_tmp = df_[['BNLONG','DBN', 'School Name', 'BN', 'variable','HS_growth_score2011', 'HS_growth_score2012', 'HS_growth_score2013',
       'HS_growth_score2014', 'HS_growth_score2015']]

In [38]:
df_tmp

,BNLONG,DBN,School Name,BN,variable,HS_growth_score2011,HS_growth_score2012,HS_growth_score2013,HS_growth_score2014,HS_growth_score2015
0,K027,15K027,AGNES Y HUMPHREY SCHOOL FOR LEADERSHIP,K027,HPGG08PROF,-1.0,NaN,NaN,NaN,NaN
1,K071,14K071,JUAN MOREL CAMPOS SECONDARY SCHOOL,K071,HPGG08PROF,-2.0,0.0,0.0,0.0,-1.0
2,K122,17K122,PATHWAYS IN TECHNOLOGY EARLY COLLEGE HIGH SCHO...,K122,HPGG08PROF,NaN,NaN,NaN,NaN,-4.0
3,K168,32K168,THE BROOKLYN SCHOOL FOR MATH AND RESEARCH,K168,HPGG08PROF,NaN,NaN,NaN,NaN,0.0
4,K265,13K265,DR SUSAN S MCKINNEY SECONDARY SCHOOL OF THE ARTS,K265,HPGG08PROF,1.0,0.0,-2.0,-2.0,-4.0
5,K322,14K322,FOUNDATIONS ACADEMY,K322,HPGG08PROF,-2.0,-3.0,-1.0,NaN,1.0
6,K336,13K336,ACADEMY OF BUSINESS AND COMMUNITY DEVELOPMENT,K336,HPGG08PROF,NaN,-1.0,3.0,NaN,NaN
7,K337,21K337,INTERNATIONAL HS AT LAFAYETTE,K337,HPGG08PROF,1.0,2.0,2.0,3.0,5.0
8,K344,21K344,RACHEL CARSON HIGH SCHOOL FOR COASTAL STUDIES,K344,HPGG08PROF,-1.0,-2.0,1.0,0.0,1.0
9,K348,21K348,HIGH SCHOOL OF SPORTS MANAGEMENT,K348,HPGG08PROF,1.0,0.0,2.0,3.0,1.0
10,K350,13K350,URBAN ASSEMBLY SCHOOL FOR MUSIC AND ART,K350,HPGG08PROF,-3.0,-1.0,-2.0,0.0,-1.0
11,K382,17K382,ACADEMY FOR COLLEGE PREPARATION AND CAREER EXP...,K382,HPGG08PROF,-2.0,2.0,2.0,0.0,-2.0
12,K393,16K393,FREDERICK DOUGLASS ACADEMY IV SECONDARY SCHOOL,K393,HPGG08PROF,-4.0,-3.0,1.0,0.0,1.0
13,K400,21K400,LAFAYETTE HS,K400,HPGG08PROF,NaN,NaN,NaN,NaN,NaN
14,K403,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,K403,HPGG08PROF,4.0,2.0,3.0,3.0,4.0
15,K404,19K404,ACADEMY FOR YOUNG WRITERS,K404,HPGG08PROF,3.0,3.0,1.0,1.0,NaN
16,K405,22K405,MIDWOOD HIGH SCHOOL,K405,HPGG08PROF,-1.0,-2.0,-2.0,-1.0,-1.0
17,K408,17K408,ACADEMY OF HOSPITALITY AND TOURISM,K408,HPGG08PROF,4.0,1.0,0.0,3.0,2.0
18,K409,19K409,EAST NEW YORK FAMILY ACADEMY,K409,HPGG08PROF,0.0,-1.0,-1.0,-2.0,-1.0
19,K410,21K410,ABRAHAM LINCOLN HIGH SCHOOL,K410,HPGG08PROF,-2.0,-1.0,-1.0,-2.0,-3.0
20,K412,13K412,BROOKLYN COMMUNITY ARTS & MEDIA HIGH SCHOOL BCAM,K412,HPGG08PROF,1.0,0.0,1.0,2.0,2.0
21,K415,18K415,SAMUEL J TILDEN HS,K415,HPGG08PROF,NaN,NaN,NaN,NaN,NaN
22,K419,13K419,SCIENCE SKILLS CENTER HIGH SCHOOL FOR SCIENCE ...,K419,HPGG08PROF,-1.0,-2.0,-1.0,-1.0,0.0
23,K420,19K420,FRANKLIN K LANE HS,K420,HPGG08PROF,2.0,NaN,NaN,NaN,NaN
24,K425,22K425,JAMES MADISON HIGH SCHOOL,K425,HPGG08PROF,-3.0,-2.0,-1.0,-1.0,-1.0
25,K429,15K429,DIGITAL ARTS AND CINEMA TECHNOLOGY HIGH SCHOOL,K429,HPGG08PROF,-1.0,0.0,2.0,-1.0,1.0
26,K430,13K430,BROOKLYN TECHNICAL HIGH SCHOOL,K430,HPGG08PROF,0.0,0.0,0.0,0.0,0.0
27,K439,13K439,BROOKLYN INTERNATIONAL HIGH SCHOOL,K439,HPGG08PROF,2.0,4.0,6.0,6.0,4.0
28,K445,20K445,NEW UTRECHT HIGH SCHOOL,K445,HPGG08PROF,0.0,0.0,-1.0,-1.0,-1.0
29,K448,15K448,BROOKLYN SECONDARY SCHOOL FOR COLLABORATIVE ST...,K448,HPGG08PROF,4.0,2.0,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...
405,X521,12X521,THE METROPOLITAN SOUNDVIEW HIGH SCHOOL,X521,HPGG08PROF,NaN,NaN,NaN,NaN,2.0
406,X522,07X522,BRONX DESIGN AND CONSTRUCTION ACADEMY,X522,HPGG08PROF,NaN,NaN,NaN,NaN,-2.0
407,X524,10X524,CROTONA INTERNATIONAL HIGH SCHOOL,X524,HPGG08PROF,NaN,NaN,NaN,NaN,1.0
408,X525,09X525,BRONX LEADERSHIP ACADEMY HIGH SCHOOL,X525,HPGG08PROF,0.0,1.0,-1.0,-1.0,-1.0
409,X527,07X527,BRONX LEADERSHIP ACADEMY II HS,X527,HPGG08PROF,1.0,2.0,NaN,2.0,1.0
410,X530,08X530,LONGWOOD PREPARATORY ACADEMY,X530,HPGG08PROF,-1.0,0.0,-1.0,0.0,1.0
411,X540,08X540,SCHOOL FOR COMMUNITY RESEARCH AND LEARNING,X540,HPGG08PROF,1.0,0.0,0.0,1.0,NaN
412,X541,11X541,GLOBAL ENTERPRISE HS,X541,HPGG08PROF,3.0,1.0,-1.0,2.0,NaN
413,X542,11X542,PELHAM PREPARATORY ACADEMY,X542,HPGG08PROF,2.0,1.0,1.0,1.0,0.0
414,X543,09X543,HIGH SCHOOL FOR VIOLIN AND DANCE,X543,HPGG08PROF,4.0,4.0,0.0,2.0,1.0
415,X544,11X544,HIGH SCHOOL FOR CONTEMPORARY ARTS,X544,HPGG08PROF,2.0,2.0,5.0,3.0,0.0
416,X545,11X545,BRONX AEROSPACE HIGH SCHOOL,X545,HPGG08PROF,3.0,3.0,3.0,NaN,2.0
417,X546,10X546,BRONX THEATRE HIGH SCHOOL,X546,HPGG08PROF,-2.0,2.0,2.0,1.0,0.0
418,X547,07X547,NEW EXPLORERS HIGH SCHOOL,X547,HPGG08PROF,-1.0,0.0,0.0,1.0,1.0
419,X548,07X548,CAREERS IN SPORTS HIGH SCHOOL,X548,HPGG08PROF,0.0,-1.0,-2.0,0.0,0.0
420,X549,10X549,DISCOVERY HIGH SCHOOL,X549,HPGG08PROF,4.0,1.0,0.0,1.0,1.0
421,X550,12X550,HIGH SCHOOL OF WORLD CULTURES,X550,HPGG08PROF,3.0,NaN,1.0,3.0,1.0
422,X551,07X551,THE URBAN ASSEMBLY BRONX ACADEMY OF LETTERS,X551,HPGG08PROF,2.0,0.0,2.0,0.0,-1.0
423,X600,07X600,ALFRED E SMITH CAREER AND TECHNICAL EDUCATION ...,X600,HPGG08PROF,0.0,2.0,1.0,1.0,3.0
424,X650,08X650,JANE ADDAMS HS FOR ACADEMIC CAREERS,X650,HPGG08PROF,0.0,0.0,0.0,0.0,0.0
425,X655,07X655,SAMUEL GOMPERS CAREER AND TECHNICAL EDUCATION HS,X655,HPGG08PROF,1.0,0.0,1.0,1.0,1.0
426,X660,10X660,GRACE DODGE CAREER AND TECHNICAL EDUCATION HS,X660,HPGG08PROF,0.0,0.0,0.0,-1.0,1.0
427,X670,07X670,HEALTH OPPORTUNITIES HIGH SCHOOL,X670,HPGG08PROF,1.0,1.0,0.0,-1.0,0.0
428,X680,12X680,BRONX COALITION COMMUNITY HS,X680,HPGG08PROF,4.0,NaN,NaN,NaN,NaN
429,X682,12X682,FANNIE LOU HAMER FREEDOM HIGH SCHOOL,X682,HPGG08PROF,4.0,3.0,3.0,3.0,3.0
430,X684,12X684,WINGS ACADEMY,X684,HPGG08PROF,0.0,0.0,2.0,1.0,-1.0
431,X686,08X686,NEW SCHOOL FOR ARTS AND SCIENCES,X686,HPGG08PROF,NaN,NaN,NaN,NaN,NaN
432,X690,12X690,MONROE ACADEMY FOR BUSINESSLAW,X690,HPGG08PROF,-1.0,-1.0,0.0,0.0,NaN
433,X692,12X692,MONROE ACADEMY FOR VISUAL ARTS & DESIGN,X692,HPGG08PROF,1.0,0.0,2.0,1.0,2.0
434,X696,10X696,HIGH SCHOOL OF AMERICAN STUDIES AT LEHMAN COLLEGE,X696,HPGG08PROF,0.0,0.0,0.0,0.0,0.0

In [39]:
df_tmp.variable = 'HS_growth'

/Users/baileygriswold/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [40]:
df_tmp

,BNLONG,DBN,School Name,BN,variable,HS_growth_score2011,HS_growth_score2012,HS_growth_score2013,HS_growth_score2014,HS_growth_score2015
0,K027,15K027,AGNES Y HUMPHREY SCHOOL FOR LEADERSHIP,K027,HS_growth,-1.0,NaN,NaN,NaN,NaN
1,K071,14K071,JUAN MOREL CAMPOS SECONDARY SCHOOL,K071,HS_growth,-2.0,0.0,0.0,0.0,-1.0
2,K122,17K122,PATHWAYS IN TECHNOLOGY EARLY COLLEGE HIGH SCHO...,K122,HS_growth,NaN,NaN,NaN,NaN,-4.0
3,K168,32K168,THE BROOKLYN SCHOOL FOR MATH AND RESEARCH,K168,HS_growth,NaN,NaN,NaN,NaN,0.0
4,K265,13K265,DR SUSAN S MCKINNEY SECONDARY SCHOOL OF THE ARTS,K265,HS_growth,1.0,0.0,-2.0,-2.0,-4.0
5,K322,14K322,FOUNDATIONS ACADEMY,K322,HS_growth,-2.0,-3.0,-1.0,NaN,1.0
6,K336,13K336,ACADEMY OF BUSINESS AND COMMUNITY DEVELOPMENT,K336,HS_growth,NaN,-1.0,3.0,NaN,NaN
7,K337,21K337,INTERNATIONAL HS AT LAFAYETTE,K337,HS_growth,1.0,2.0,2.0,3.0,5.0
8,K344,21K344,RACHEL CARSON HIGH SCHOOL FOR COASTAL STUDIES,K344,HS_growth,-1.0,-2.0,1.0,0.0,1.0
9,K348,21K348,HIGH SCHOOL OF SPORTS MANAGEMENT,K348,HS_growth,1.0,0.0,2.0,3.0,1.0
10,K350,13K350,URBAN ASSEMBLY SCHOOL FOR MUSIC AND ART,K350,HS_growth,-3.0,-1.0,-2.0,0.0,-1.0
11,K382,17K382,ACADEMY FOR COLLEGE PREPARATION AND CAREER EXP...,K382,HS_growth,-2.0,2.0,2.0,0.0,-2.0
12,K393,16K393,FREDERICK DOUGLASS ACADEMY IV SECONDARY SCHOOL,K393,HS_growth,-4.0,-3.0,1.0,0.0,1.0
13,K400,21K400,LAFAYETTE HS,K400,HS_growth,NaN,NaN,NaN,NaN,NaN
14,K403,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,K403,HS_growth,4.0,2.0,3.0,3.0,4.0
15,K404,19K404,ACADEMY FOR YOUNG WRITERS,K404,HS_growth,3.0,3.0,1.0,1.0,NaN
16,K405,22K405,MIDWOOD HIGH SCHOOL,K405,HS_growth,-1.0,-2.0,-2.0,-1.0,-1.0
17,K408,17K408,ACADEMY OF HOSPITALITY AND TOURISM,K408,HS_growth,4.0,1.0,0.0,3.0,2.0
18,K409,19K409,EAST NEW YORK FAMILY ACADEMY,K409,HS_growth,0.0,-1.0,-1.0,-2.0,-1.0
19,K410,21K410,ABRAHAM LINCOLN HIGH SCHOOL,K410,HS_growth,-2.0,-1.0,-1.0,-2.0,-3.0
20,K412,13K412,BROOKLYN COMMUNITY ARTS & MEDIA HIGH SCHOOL BCAM,K412,HS_growth,1.0,0.0,1.0,2.0,2.0
21,K415,18K415,SAMUEL J TILDEN HS,K415,HS_growth,NaN,NaN,NaN,NaN,NaN
22,K419,13K419,SCIENCE SKILLS CENTER HIGH SCHOOL FOR SCIENCE ...,K419,HS_growth,-1.0,-2.0,-1.0,-1.0,0.0
23,K420,19K420,FRANKLIN K LANE HS,K420,HS_growth,2.0,NaN,NaN,NaN,NaN
24,K425,22K425,JAMES MADISON HIGH SCHOOL,K425,HS_growth,-3.0,-2.0,-1.0,-1.0,-1.0
25,K429,15K429,DIGITAL ARTS AND CINEMA TECHNOLOGY HIGH SCHOOL,K429,HS_growth,-1.0,0.0,2.0,-1.0,1.0
26,K430,13K430,BROOKLYN TECHNICAL HIGH SCHOOL,K430,HS_growth,0.0,0.0,0.0,0.0,0.0
27,K439,13K439,BROOKLYN INTERNATIONAL HIGH SCHOOL,K439,HS_growth,2.0,4.0,6.0,6.0,4.0
28,K445,20K445,NEW UTRECHT HIGH SCHOOL,K445,HS_growth,0.0,0.0,-1.0,-1.0,-1.0
29,K448,15K448,BROOKLYN SECONDARY SCHOOL FOR COLLABORATIVE ST...,K448,HS_growth,4.0,2.0,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...
405,X521,12X521,THE METROPOLITAN SOUNDVIEW HIGH SCHOOL,X521,HS_growth,NaN,NaN,NaN,NaN,2.0
406,X522,07X522,BRONX DESIGN AND CONSTRUCTION ACADEMY,X522,HS_growth,NaN,NaN,NaN,NaN,-2.0
407,X524,10X524,CROTONA INTERNATIONAL HIGH SCHOOL,X524,HS_growth,NaN,NaN,NaN,NaN,1.0
408,X525,09X525,BRONX LEADERSHIP ACADEMY HIGH SCHOOL,X525,HS_growth,0.0,1.0,-1.0,-1.0,-1.0
409,X527,07X527,BRONX LEADERSHIP ACADEMY II HS,X527,HS_growth,1.0,2.0,NaN,2.0,1.0
410,X530,08X530,LONGWOOD PREPARATORY ACADEMY,X530,HS_growth,-1.0,0.0,-1.0,0.0,1.0
411,X540,08X540,SCHOOL FOR COMMUNITY RESEARCH AND LEARNING,X540,HS_growth,1.0,0.0,0.0,1.0,NaN
412,X541,11X541,GLOBAL ENTERPRISE HS,X541,HS_growth,3.0,1.0,-1.0,2.0,NaN
413,X542,11X542,PELHAM PREPARATORY ACADEMY,X542,HS_growth,2.0,1.0,1.0,1.0,0.0
414,X543,09X543,HIGH SCHOOL FOR VIOLIN AND DANCE,X543,HS_growth,4.0,4.0,0.0,2.0,1.0
415,X544,11X544,HIGH SCHOOL FOR CONTEMPORARY ARTS,X544,HS_growth,2.0,2.0,5.0,3.0,0.0
416,X545,11X545,BRONX AEROSPACE HIGH SCHOOL,X545,HS_growth,3.0,3.0,3.0,NaN,2.0
417,X546,10X546,BRONX THEATRE HIGH SCHOOL,X546,HS_growth,-2.0,2.0,2.0,1.0,0.0
418,X547,07X547,NEW EXPLORERS HIGH SCHOOL,X547,HS_growth,-1.0,0.0,0.0,1.0,1.0
419,X548,07X548,CAREERS IN SPORTS HIGH SCHOOL,X548,HS_growth,0.0,-1.0,-2.0,0.0,0.0
420,X549,10X549,DISCOVERY HIGH SCHOOL,X549,HS_growth,4.0,1.0,0.0,1.0,1.0
421,X550,12X550,HIGH SCHOOL OF WORLD CULTURES,X550,HS_growth,3.0,NaN,1.0,3.0,1.0
422,X551,07X551,THE URBAN ASSEMBLY BRONX ACADEMY OF LETTERS,X551,HS_growth,2.0,0.0,2.0,0.0,-1.0
423,X600,07X600,ALFRED E SMITH CAREER AND TECHNICAL EDUCATION ...,X600,HS_growth,0.0,2.0,1.0,1.0,3.0
424,X650,08X650,JANE ADDAMS HS FOR ACADEMIC CAREERS,X650,HS_growth,0.0,0.0,0.0,0.0,0.0
425,X655,07X655,SAMUEL GOMPERS CAREER AND TECHNICAL EDUCATION HS,X655,HS_growth,1.0,0.0,1.0,1.0,1.0
426,X660,10X660,GRACE DODGE CAREER AND TECHNICAL EDUCATION HS,X660,HS_growth,0.0,0.0,0.0,-1.0,1.0
427,X670,07X670,HEALTH OPPORTUNITIES HIGH SCHOOL,X670,HS_growth,1.0,1.0,0.0,-1.0,0.0
428,X680,12X680,BRONX COALITION COMMUNITY HS,X680,HS_growth,4.0,NaN,NaN,NaN,NaN
429,X682,12X682,FANNIE LOU HAMER FREEDOM HIGH SCHOOL,X682,HS_growth,4.0,3.0,3.0,3.0,3.0
430,X684,12X684,WINGS ACADEMY,X684,HS_growth,0.0,0.0,2.0,1.0,-1.0
431,X686,08X686,NEW SCHOOL FOR ARTS AND SCIENCES,X686,HS_growth,NaN,NaN,NaN,NaN,NaN
432,X690,12X690,MONROE ACADEMY FOR BUSINESSLAW,X690,HS_growth,-1.0,-1.0,0.0,0.0,NaN
433,X692,12X692,MONROE ACADEMY FOR VISUAL ARTS & DESIGN,X692,HS_growth,1.0,0.0,2.0,1.0,2.0
434,X696,10X696,HIGH SCHOOL OF AMERICAN STUDIES AT LEHMAN COLLEGE,X696,HS_growth,0.0,0.0,0.0,0.0,0.0

In [41]:
df_tmp.columns = ['BNLONG','DBN', 'School Name', 'BN', 'variable','2011', '2012', '2013', '2014', '2015']

In [42]:
df_hsgro = df_tmp

In [43]:
df_2.columns

Index(['BNLONG', 'variable_ela8', '1999_ela8', '2000_ela8', '2001_ela8',
       '2002_ela8', '2003_ela8', '2004_ela8', '2005_ela8', '2006_ela8',
       '2007_ela8', '2008_ela8', '2009_ela8', '2010_ela8', '2011_ela8',
       '2012_ela8', '2013_ela8', '2014_ela8', '2015_ela8', '2016_ela8',
       'ela8dec_1999', 'ela8dec_2000', 'ela8dec_2001', 'ela8dec_2002',
       'ela8dec_2003', 'ela8dec_2004', 'ela8dec_2005', 'ela8dec_2006',
       'ela8dec_2007', 'ela8dec_2008', 'ela8dec_2009', 'ela8dec_2010',
       'ela8dec_2011', 'ela8dec_2012', 'ela8dec_2013', 'ela8dec_2014',
       'ela8dec_2015', 'ela8dec_2016', 'variable_ela6', '1999_ela6',
       '2000_ela6', '2001_ela6', '2002_ela6', '2003_ela6', '2004_ela6',
       '2005_ela6', '2006_ela6', '2007_ela6', '2008_ela6', '2009_ela6',
       '2010_ela6', '2011_ela6', '2012_ela6', '2013_ela6', '2014_ela6',
       '2015_ela6', '2016_ela6', 'ela6dec_1999', 'ela6dec_2000',
       'ela6dec_2001', 'ela6dec_2002', 'ela6dec_2003', 'ela6dec_2004',
       'ela6dec_2005', 'ela6dec_2006', 'ela6dec_2007', 'ela6dec_2008',
       'ela6dec_2009', 'ela6dec_2010', 'ela6dec_2011', 'ela6dec_2012',
       'ela6dec_2013', 'ela6dec_2014', 'ela6dec_2015', 'ela6dec_2016',
       'MS_growth_score2001', 'MS_growth_score2002', 'MS_growth_score2003',
       'MS_growth_score2004', 'MS_growth_score2005', 'MS_growth_score2006',
       'MS_growth_score2007', 'MS_growth_score2008', 'MS_growth_score2009',
       'MS_growth_score2010', 'MS_growth_score2011', 'MS_growth_score2012',
       'MS_growth_score2013', 'MS_growth_score2014', 'MS_growth_score2015',
       'MS_growth_score2016'],
      dtype='object')

In [44]:
df_tmp = df_2[['BNLONG','MS_growth_score2001', 'MS_growth_score2002', 'MS_growth_score2003',
       'MS_growth_score2004', 'MS_growth_score2005', 'MS_growth_score2006',
       'MS_growth_score2007', 'MS_growth_score2008', 'MS_growth_score2009',
       'MS_growth_score2010', 'MS_growth_score2011', 'MS_growth_score2012',
       'MS_growth_score2013', 'MS_growth_score2014', 'MS_growth_score2015',
       'MS_growth_score2016']]
df_tmp['variable'] = 'MS_growth'
df_tmp.columns = ['BNLONG','2001','2002', '2003',
       '2004', '2005', '2006','2007', '2008', '2009',
       '2010','2011', '2012', '2013', '2014', '2015', '2016', 'variable']
df_msgro = df_tmp

/Users/baileygriswold/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [45]:
df_msgro.head()

,BNLONG,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,variable
0,K002,0.0,1.0,0.0,1.0,1.0,-2.0,-1.0,1.0,0.0,-1.0,0.0,0.0,2.0,-1.0,1.0,0.0,MS_growth
1,K008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,MS_growth
2,K012,-1.0,3.0,2.0,-1.0,2.0,0.0,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS_growth
3,K014,0.0,-1.0,0.0,-2.0,-2.0,-2.0,-2.0,-2.0,-1.0,0.0,1.0,1.0,0.0,-2.0,0.0,-1.0,MS_growth
4,K025,-1.0,-1.0,2.0,5.0,2.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS_growth

In [46]:
df_3.columns

Index(['BNLONG', 'variable_ela5', '1999_ela5', '2000_ela5', '2001_ela5',
       '2002_ela5', '2003_ela5', '2004_ela5', '2005_ela5', '2006_ela5',
       '2007_ela5', '2008_ela5', '2009_ela5', '2010_ela5', '2011_ela5',
       '2012_ela5', '2013_ela5', '2014_ela5', '2015_ela5', '2016_ela5',
       'ela5dec_1999', 'ela5dec_2000', 'ela5dec_2001', 'ela5dec_2002',
       'ela5dec_2003', 'ela5dec_2004', 'ela5dec_2005', 'ela5dec_2006',
       'ela5dec_2007', 'ela5dec_2008', 'ela5dec_2009', 'ela5dec_2010',
       'ela5dec_2011', 'ela5dec_2012', 'ela5dec_2013', 'ela5dec_2014',
       'ela5dec_2015', 'ela5dec_2016', 'variable_ela3', '1999_ela3',
       '2000_ela3', '2001_ela3', '2002_ela3', '2003_ela3', '2004_ela3',
       '2005_ela3', '2006_ela3', '2007_ela3', '2008_ela3', '2009_ela3',
       '2010_ela3', '2011_ela3', '2012_ela3', '2013_ela3', '2014_ela3',
       '2015_ela3', '2016_ela3', 'ela3dec_1999', 'ela3dec_2000',
       'ela3dec_2001', 'ela3dec_2002', 'ela3dec_2003', 'ela3dec_2004',
       'ela3dec_2005', 'ela3dec_2006', 'ela3dec_2007', 'ela3dec_2008',
       'ela3dec_2009', 'ela3dec_2010', 'ela3dec_2011', 'ela3dec_2012',
       'ela3dec_2013', 'ela3dec_2014', 'ela3dec_2015', 'ela3dec_2016',
       'E_growth_score2001', 'E_growth_score2002', 'E_growth_score2003',
       'E_growth_score2004', 'E_growth_score2005', 'E_growth_score2006',
       'E_growth_score2007', 'E_growth_score2008', 'E_growth_score2009',
       'E_growth_score2010', 'E_growth_score2011', 'E_growth_score2012',
       'E_growth_score2013', 'E_growth_score2014', 'E_growth_score2015',
       'E_growth_score2016'],
      dtype='object')

In [47]:
df_tmp = df_3[['BNLONG','variable_ela5', 'E_growth_score2001', 'E_growth_score2002', 'E_growth_score2003',
       'E_growth_score2004', 'E_growth_score2005', 'E_growth_score2006',
       'E_growth_score2007', 'E_growth_score2008', 'E_growth_score2009',
       'E_growth_score2010', 'E_growth_score2011', 'E_growth_score2012',
       'E_growth_score2013', 'E_growth_score2014', 'E_growth_score2015',
       'E_growth_score2016']]
df_tmp.variable_ela5 = 'E_growth'
df_tmp.columns = ['BNLONG','variable','2001','2002', '2003',
       '2004', '2005', '2006','2007', '2008', '2009',
       '2010','2011', '2012', '2013', '2014', '2015', '2016']
df_egro = df_tmp

/Users/baileygriswold/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [48]:
df_egro

,BNLONG,variable,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,K001,E_growth,2.0,-1.0,-1.0,-2.0,1.0,-2.0,-3.0,-3.0,-1.0,-1.0,1.0,-1.0,0.0,1.0,-1.0,1.0
1,K003,E_growth,2.0,0.0,-2.0,1.0,1.0,0.0,-1.0,1.0,0.0,0.0,-1.0,0.0,0.0,2.0,0.0,1.0
2,K004,E_growth,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,K005,E_growth,NaN,NaN,NaN,2.0,1.0,0.0,-4.0,3.0,-1.0,-1.0,-2.0,4.0,-1.0,-4.0,0.0,8.0
4,K006,E_growth,-3.0,-1.0,-1.0,2.0,-1.0,-1.0,0.0,3.0,0.0,1.0,4.0,3.0,1.0,0.0,1.0,3.0
5,K007,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,-1.0,-2.0
6,K008,E_growth,-4.0,-2.0,0.0,-3.0,5.0,3.0,1.0,-2.0,-4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,K009,E_growth,-1.0,1.0,-1.0,1.0,-1.0,1.0,0.0,3.0,-2.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-2.0
8,K010,E_growth,0.0,0.0,0.0,2.0,3.0,1.0,-1.0,0.0,-1.0,1.0,2.0,0.0,1.0,1.0,0.0,0.0
9,K011,E_growth,3.0,-2.0,-1.0,2.0,2.0,1.0,0.0,0.0,-1.0,2.0,1.0,2.0,4.0,2.0,0.0,0.0
10,K012,E_growth,-2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,3.0,4.0,0.0,0.0,0.0,0.0,1.0
11,K013,E_growth,1.0,0.0,1.0,1.0,1.0,2.0,2.0,1.0,3.0,0.0,-2.0,-1.0,3.0,2.0,1.0,4.0
12,K015,E_growth,-1.0,1.0,2.0,0.0,4.0,5.0,3.0,4.0,3.0,4.0,1.0,-1.0,-4.0,-2.0,3.0,-1.0
13,K016,E_growth,0.0,0.0,-1.0,0.0,0.0,-1.0,0.0,2.0,0.0,0.0,-2.0,0.0,0.0,3.0,-1.0,-4.0
14,K017,E_growth,0.0,2.0,-1.0,-1.0,-3.0,-2.0,-1.0,-3.0,0.0,3.0,1.0,-1.0,1.0,1.0,0.0,0.0
15,K018,E_growth,0.0,0.0,4.0,1.0,-1.0,0.0,6.0,4.0,1.0,-1.0,-2.0,2.0,-3.0,-3.0,0.0,-1.0
16,K019,E_growth,2.0,3.0,-1.0,2.0,-2.0,-1.0,2.0,-1.0,1.0,1.0,-1.0,0.0,2.0,0.0,NaN,NaN
17,K020,E_growth,1.0,0.0,1.0,0.0,1.0,-1.0,0.0,1.0,-1.0,-4.0,-3.0,2.0,-1.0,4.0,0.0,3.0
18,K021,E_growth,1.0,0.0,-1.0,-2.0,-1.0,-2.0,-1.0,0.0,0.0,-2.0,1.0,1.0,-1.0,-2.0,-2.0,0.0
19,K022,E_growth,-2.0,2.0,0.0,0.0,-3.0,-2.0,0.0,1.0,2.0,0.0,0.0,3.0,1.0,-1.0,NaN,NaN
20,K023,E_growth,2.0,2.0,1.0,1.0,-2.0,2.0,-1.0,0.0,3.0,3.0,1.0,-2.0,0.0,-1.0,0.0,1.0
21,K024,E_growth,0.0,2.0,0.0,0.0,1.0,0.0,-1.0,-1.0,0.0,-1.0,0.0,1.0,0.0,2.0,0.0,0.0
22,K025,E_growth,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,-3.0,-1.0,-4.0,0.0,1.0,0.0,0.0
23,K026,E_growth,-2.0,-1.0,2.0,3.0,-1.0,1.0,-5.0,0.0,0.0,1.0,1.0,1.0,1.0,-3.0,-3.0,5.0
24,K027,E_growth,0.0,2.0,-2.0,0.0,2.0,0.0,0.0,0.0,-1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
25,K028,E_growth,0.0,-1.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-3.0,-4.0,-1.0,1.0
26,K029,E_growth,-2.0,-2.0,-1.0,-1.0,-1.0,0.0,-1.0,0.0,-1.0,-1.0,1.0,0.0,0.0,1.0,0.0,0.0
27,K031,E_growth,0.0,-1.0,0.0,1.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0
28,K032,E_growth,1.0,-1.0,-3.0,-1.0,0.0,1.0,0.0,-1.0,-3.0,-1.0,0.0,0.0,-4.0,-1.0,0.0,-1.0
29,K034,E_growth,-1.0,1.0,1.0,0.0,-2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,X279,E_growth,0.0,0.0,2.0,1.0,0.0,2.0,-2.0,-2.0,1.0,-2.0,-1.0,-1.0,-2.0,1.0,1.0,0.0
780,X280,E_growth,1.0,0.0,-1.0,-1.0,0.0,-1.0,1.0,1.0,-1.0,-2.0,0.0,-2.0,-2.0,-1.0,-2.0,-1.0
781,X291,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.0,-2.0,0.0
782,X300,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,-1.0,0.0,2.0,1.0,0.0
783,X304,E_growth,NaN,NaN,NaN,NaN,0.0,-2.0,-3.0,3.0,1.0,0.0,1.0,0.0,-1.0,0.0,0.0,2.0
784,X306,E_growth,-1.0,-1.0,0.0,0.0,0.0,-1.0,0.0,3.0,0.0,0.0,-1.0,0.0,-1.0,0.0,3.0,0.0
785,X307,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,0.0,-2.0,-1.0,-4.0,-6.0,-3.0,-2.0,-2.0
786,X310,E_growth,0.0,0.0,1.0,1.0,1.0,2.0,-1.0,-2.0,-2.0,3.0,-1.0,0.0,1.0,-3.0,-2.0,1.0
787,X315,E_growth,1.0,-1.0,1.0,1.0,-3.0,1.0,-3.0,4.0,1.0,2.0,1.0,0.0,0.0,-1.0,-3.0,-1.0
788,X333,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-2.0,0.0,2.0,0.0
789,X335,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
790,X340,E_growth,NaN,0.0,3.0,-2.0,2.0,1.0,1.0,0.0,0.0,-2.0,-3.0,1.0,-3.0,0.0,0.0,0.0
791,X344,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,-1.0,0.0,-1.0
792,X352,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
793,X360,E_growth,NaN,0.0,1.0,1.0,0.0,-1.0,-2.0,0.0,1.0,1.0,0.0,-2.0,-1.0,2.0,1.0,0.0
794,X369,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0
795,X382,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,-2.0,2.0,2.0
796,X385,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
797,X386,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2.0,-2.0,-2.0,-3.0
798,X396,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.0,-3.0,0.0,2.0,-1.0
799,X443,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,-2.0,0.0
800,X449,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
801,X457,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,2.0
802,X463,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-1.0,2.0,0.0
803,X498,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,-3.0
804,X502,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,X531,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0
806,X536,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-3.0
807,X691,E_growth,NaN,NaN,NaN,6.0,-1.0,3.0,0.0,4.0,8.0,-4.0,-2.0,5.0,-2.0,0.0,-1.0,-3.0
808,X723,E_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [50]:
df_growth = pd.concat([df_hsgro, df_egro, df_msgro])

In [51]:
df_growth.to_csv('Growthfeat_hme.csv')

year corresponds to the 8th grade yr fir ms, 5th grade yr for elementary yr, and senior year for hs